<div class="login">
    <img [src]="imageDomain + '/login-bg.png'" class="login-image">
    <div class="slant"></div>
    <label class="login-label">Where<br>Taste Meets<br>The Myth</label>
    <div class="login-form shadow-lg">
        <form [formGroup]="loginForm">
            <div class="row justify-content-center align-items-center m-0 p-0 login-row">
                <div class=" col-9 p-0 mt-5 email-section"
                    [ngClass]="selectedField === 'email' ? 'selected':'border-bottom'">
                    <span class="fa fa-envelope input-icon"></span>
                    <input formControlName="email_id" class="email" type="email" placeholder="Enter Email" required
                        (focus)="selectedField = 'email'">
                </div>
                <div class="col-9 border-bottom p-0"
                    [ngClass]="selectedField === 'password' ? 'selected':'border-bottom'">
                    <span class="fa fa-lock fa-lg input-icon"></span>
                    <input formControlName="password" minlength="6" class="password" required [type]="hidePassword ? 'password' : 'text'"
                        placeholder="Enter password" (focus)="selectedField = 'password'">
                    <span class="fa input-icon" (click)="hidePassword = !hidePassword"
                        [ngClass]="hidePassword ? 'fa-eye-slash' : 'fa-eye'"></span>
                </div>
                <div class="col-9 remember-forget p-0">
                    <label>
                        <input type="checkbox" name="remember" value="1"> Remember Me
                    </label>
                    <a href="">Forget password?</a>
                </div>
                <div class="col-9 p-0 mb-3 mt-3">
                    <button [disabled]="loginForm?.invalid" type="button" class="btn btn-lg" (click)="login()">Login</button>
                </div>
            </div>
        </form>
    </div>
</div>