<div class="container-fluid p-4">
  <div class="row m-0 p-0 mt-2 justify-content-between align-items-center">
    <h2 class="title">Menu</h2>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="row m-0 p-0 mt-2  justify-content-between align-items-center">
        <h2 class="title">Add New Menus</h2>
      </div>

      <div class='form-group'>
        <label for='name'>Name</label>
        <input type="text" class='form-control form-control-lg' id='name' placeholder="Chicken Store">
      </div>

      <div class='form-group'>
        <label for='type'>Type</label>
        <select class='form-control form-control-lg' id='type'>
          <option selected>Video</option>
          <option>Audio</option>
        </select>
      </div>

      <div class='form-group'>
        <label for='name'>Add Icon</label>
        <div class="form-group">
          <div class="img-container">
            <div class='innerdiv'><i class="fa fa-plus" aria-hidden="true"></i>
              <div>Drag files here to uplaod</div>
              <div>(.png, .gif, .jepg)</div>
            </div>

          </div>
        </div>
        <div class="input-group">
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
            <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
          </div>
        </div>


      </div>
    </div>

    <div class="col-lg-6">
      <div class="row m-0 p-0 mt-2  justify-content-between align-items-center">
        <h2 class="title">Primary Menus</h2>
      </div>

      <div class='form-group'>
        <select class='form-control form-control-lg'>
          <option selected>All</option>
          <option>Audio</option>
        </select>

      </div>
      <div class='form-group'>
        <select class='form-control form-control-lg'>
          <option selected>Computers & Laptops</option>
          <option>Audio</option>
        </select>

      </div>
      <div class='form-group'>
        <select class='form-control form-control-lg '>
          <option selected>Pages</option>
          <option>Audio</option>
        </select>
        <div class="border p-4 bt-0">
          <div class='form-group'>
            <label for='url'>URL</label>
            <input type="text" class='form-control form-control-sm' id='url' placeholder="#">
          </div>

          <div class="row mt-3 mb-3">
            <div class="col">
              <label for='label'>Navigation Label</label>
              <input type="text" id="label" class="form-control form-control-sm" placeholder="Pages">
            </div>
            <div class="col">
              <label for='title'>Title Attribute</label>
              <input type="text" id='title' class="form-control  form-control-sm" placeholder="Title Attribute">
            </div>
          </div>

          <div class='form-group'>
            <label for='icon'>Icon Class</label>
            <input type="text" class='form-control form-control-sm' id='icon' placeholder="Icon Class">
          </div>
          <p>Move <a href=''>up down up down on under laptop to the top</a></p>

          <button type="button" class="btn btn-link text-danger"><u>Remove</u></button>|
          <button type="button" class="btn btn-link"><u>Cancel</u></button>
        </div>
      </div>

    </div>
  </div>
</div>