
   .upload-btn {
    background-color: #d46f00;
    border: none;
    color: white;
    /* padding: 5px 15px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
