.login {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.login-image {
    width: 80%;
    height: 100%;
}

.login-label {
    position: absolute;
    color: white;
    font-family: auto;
    left: 20%;
    top: calc(50% - 115px);
    font-size: 50px;
    font-weight: 600;
}

.login-form {
    width: 400px;
    height: 360px;
    z-index: 2;
    top: calc(50% - 180px);
    left: calc(70% - 200px);
    background: white;
    position: absolute;
}

.login-form form {
    height: 100%;
}

.slant {
    position: absolute;
    height: 100%;
    top: 0px;
    z-index: 1;
    width: 20%;
    background: #ffffff;
    left: 70%;
    -ms-transform: skew(-6deg,0deg); /* IE 9 */
    -webkit-transform: skew(-6deg,0deg); /* Safari prior 9.0 */
    transform: skew(-6deg,0deg); /* Standard syntax */
}

.login-row {
    height: 100%;;
}

.input-icon {
    width: 10%;
    cursor: pointer;
}

.email {
    background: transparent;
    border: none;
    outline: none;
    width: 90%;
    /* border-bottom: 1px solid #000000; */
}

.email:focus {
    outline: none;
}

.selected
{
    border-bottom: 1px solid #d46f00!important;
}


.password {
    background: transparent;
    border: none;
    outline: none;
    width: 80%;
    /* border-bottom: 1px solid #000000; */
}

.password:focus {
    outline: none;
}

input[type=password]::-ms-reveal,
input[type=password]::-ms-clear
{
    display: none;
}

.remember-forget {
    display: flex;
    justify-content: space-between;
}

a {
    color: #d46f00;
}

button {
    background-color: #d46f00;
    color: white;
    width: 100px;
    font-weight: 600;
}

