.upload-btn {
    background-color: #d46f00;
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.sync-btn {
    background-color: lightgrey;
    border: none;
    color: black;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
/* ======================== content tab css ======================== */
.content-tab .nav-link{
    padding: 1.4rem 5rem;
}
.content-post .form-group{
    margin-right: 10px;
}
.table td, .table th{
    vertical-align: middle;
}
.input-group{
    width:20%;
}
.main-tb-inline{
    float: left; 
    text-align:left;
  height:50px;
  display: table;
  width: 100%;

}
.main-tb-inline .tb-inline{
    vertical-align:middle;
    display: inline-grid;
    margin: 0 5px;;
}
select.form-control {background-color: #f1f1f1 ;}



.tb-inline label{
    margin-bottom: 1.2rem;
}
.nav.active, .nav-item:hover {
    font-weight: bold;
    color: #d46f00;
    border-bottom:2px solid #d46f00;
}
.table th{border-top:0px;}
hr{margin:0px;}
table th:nth-child(3),
table td:nth-child(3)
{
    background: #f1f1f1;
}