label{
    font-size:22px;
    font-weight: 700;
}
.upload-btn {
    background-color: #eb710e;
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.table thead th{vertical-align: top;}