<div class="container-fluid p-4">
  <div class="row m-0 p-0 mt-2 justify-content-between align-items-center">
    <h2 class="title">Content Library</h2>
    <div>
      <button mat-flat-button class="sync-btn m-2"> <mat-icon>sync</mat-icon></button>
      <button mat-flat-button class="upload-btn m-2"><span class="fa fa-plus mr-3"></span> Upload videos</button>
    </div>
  </div>
  <!-- ====================Tab Section================ -->
<div class='content-tab'>
 <mat-tab-group animationDuration="0ms">
     <!-- tab1 section-->
 <mat-tab label="All Posts">
<div class="tab-content mt-3">
  <div id="all-posts" class=" tab-pane active">
    <div class='row m-0 content-post'>
      <div class="form-group">
        <mat-form-field>
            <mat-label> <i class="fa fa-bandcamp" aria-hidden="true"></i> Post Status: - All</mat-label>
            <mat-select [(ngModel)]="selectedValue" name="food">
              <mat-option *ngFor="let food of foods" [value]="food.value">
                {{food.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field>
          <mat-label> <mat-icon>today</mat-icon> All Time</mat-label>
          <mat-select [(ngModel)]="selectedValue" name="games">
            <mat-option *ngFor="let game of games" [value]="game.value">
              {{game.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field>
          <mat-label> <mat-icon>filter_list</mat-icon> Filters</mat-label>
          <mat-select [(ngModel)]="selectedValue" name="movie">
            <mat-option *ngFor="let movie of movies" [value]="movie.value">
              {{movie.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <mat-form-field class="example-full-width">
          <mat-label> <mat-icon matPrefix >search</mat-icon>Search</mat-label>
        <input matInput >
      </mat-form-field>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Post</th>
          <th>Post Status</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div class='main-tb-inline'>
              <div class='tb-inline'>
                  <mat-checkbox></mat-checkbox>
              </div>
              <div class='tb-inline'>
                <img src='assets/images/play_icon.png' />
              </div>
              <div class='tb-inline w180'>
                <img src='assets/images/video-img.png' /></div>
              <div class='tb-inline'>
                <p><b>Lorem Ipsum Lorem Ipsum</b></p>
                <p>Daily Jokes</p>
              </div>
            </div>
          </td>
          <td><span class="dot mr-1"></span>Published</td>
          <td>{{date | date :'dd/MM/yyyy hh:mm a'}}</td>
        </tr>
        <tr>
          <td>
            <div class='main-tb-inline'>
              <div class='tb-inline'>
                  <mat-checkbox class="mt-2"></mat-checkbox>
              </div>
              <div class='tb-inline'>
                <img src='assets/images/play_icon.png' />
              </div>
              <div class='tb-inline w180'><img src='assets/images/video-img.png' /></div>
              <div class='tb-inline'>
                <p><b>Lorem Ipsum Lorem Ipsum</b></p>
                <p>Daily Jokes</p>
              </div>
            </div>
          </td>
          <td><span class="dot mr-1"></span>Published</td>
          <td>{{date | date :'dd/MM/yyyy hh:mm a'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
      </mat-tab>
      <!-- tab2 section-->
      <mat-tab label="All Published">Content 2</mat-tab>
        <!-- tab3 section-->
      <mat-tab label="Scheduled">Content 3</mat-tab>
        <!-- tab4 section-->
      <mat-tab label="Drafts">Content 3</mat-tab>
    </mat-tab-group>
    <!-- Tab panes -->
    
  </div>
</div>