.img-container{
    margin: auto;
    line-height: 100px;
    width: 100%;
    border: 3px dashed lightgrey;
    text-align: center;
    background:rgb(199, 222, 241);
    padding: 10px;
    border-radius: 5px;
}
.img-container .innerdiv {
    line-height: 2.5;
    display: inline-block;
    vertical-align: middle;
  }
  .innerdiv .fa-plus{font-size: 40px; color:rgb(51, 133, 201);}
  .bt-0{border-top:0 !important;}
  .border label{font-weight:100; font-size:16px;}

   .upload-btn {
    background-color: #d46f00;
    border: none;
    color: white;
    /* padding: 5px 15px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
