/* You can add global styles to this file, and also import other style files */
/* font family */
@font-face {
  font-family: 'Helvetica';
  src: url('assets/fonts/Helvetica.eot');
  src: url('assets/fonts/Helvetica.eot?#iefix') format('embedded-opentype'),
      url('assets/fonts/Helvetica.woff2') format('woff2'),
      url('assets/fonts/Helvetica.woff') format('woff'),
      url('assets/fonts/Helvetica.ttf') format('truetype'),
      url('assets/fonts/Helvetica.svg#Helvetica') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica-Bold';
  src: url('assets/fonts/Helvetica-Bold.eot');
  src: url('assets/fonts/Helvetica-Bold.eot?#iefix') format('embedded-opentype'),
      url('assets/fonts/Helvetica-Bold.woff2') format('woff2'),
      url('assets/fonts/Helvetica-Bold.woff') format('woff'),
      url('assets/fonts/Helvetica-Bold.ttf') format('truetype'),
      url('assets/fonts/Helvetica-Bold.svg#Helvetica-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

body, html{
  font-family:  Helvetica, Arial
}

.sidebar {
    /* height: calc(100vh - 60px); */
    width: 250px;
    /* position: fixed; */
    /* top: 60px; */
    /* left: 0px; */
}

.main-panel {
    /* width: calc(100vh - 250px);; */
    /* padding-left: 250px */
    display: flex;
}


/* ================================= checkbox css  ================================= */
.check-box {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.check-box input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 5px;
  height: 25px;
  width: 25px;
  border:1px solid #eee;
 
}

/* On mouse-over, add a grey background color */
.check-box:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.check-box input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.check-box input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.check-box .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
h2.title{font-size:2.5rem; font-family:Helvetica-Bold}


@media only screen and (max-width: 767px) {
    .sidebar {
      width: 68px;
    }
}

.disable-input-style {
    background: transparent;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    /* border-bottom: 1px solid #000000; */
}

.disable-input-style:focus {
    outline: none;
}      